[project]
	description = Logstash input plugin for Git repositories
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Braverman Masis (abraverm)
[access "refs/for/refs/*"]
	read = group user/Alexander Braverman Masis (abraverm)
	push = group user/Alexander Braverman Masis (abraverm)
	label-Code-Review = -2..+2 group user/Alexander Braverman Masis (abraverm)
	label-Verified = -1..+1 group user/Alexander Braverman Masis (abraverm)
	rebase = group user/Alexander Braverman Masis (abraverm)
	removeReviewer = group user/Alexander Braverman Masis (abraverm)
	submit = group user/Alexander Braverman Masis (abraverm)
[access "refs/heads/*"]
	read = group user/Alexander Braverman Masis (abraverm)
	create = group user/Alexander Braverman Masis (abraverm)
	push = +force group user/Alexander Braverman Masis (abraverm)
	pushMerge = group user/Alexander Braverman Masis (abraverm)
[access "refs/tags/*"]
	push = +force group user/Alexander Braverman Masis (abraverm)
	pushTag = group user/Alexander Braverman Masis (abraverm)
	pushSignedTag = group user/Alexander Braverman Masis (abraverm)
